<div class="form-wrapper">
  <h1>Cambia tu contraseña</h1>

    <%= form_with(resource, as: resource_name, url: password_path(@resource_name), html: {method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "Nueva contraseña" %>
    <%= f.password_field :password__confirmation %>
  </div>

  <div class="form-group">
    <%= f.submit "Cambiar mi contraseña", class: "btn btn-success" %>
  </div>
  <% end %>
  
  <div class="form-group text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>