<div class="posts-wrapper">
  <div class="post">
    <div class="image center-block">
      <%= image_tag @post.squared_img, class:'img-fluid' %>
    </div>
    <div class="post-bottom">
      <div class="description">
        <%= @post.description %>
      </div>
      <div class="comments" id="comments_<%= @post.id %>">
      <% if @post.comments %>
      <%= render @post.comments, post: @post %>
      <% end %>
      </div>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
       <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
       <div class="form-group">
        <%= f.text_field :content, placeholder: "Add a comment...", id: "comment_content_#{@post.id}" %>
       </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @post.user.id == current_user.id %>
  <div class="text-center edit-links">
    <%= link_to "Cancelar", posts_path %>
    |
    <%= link_to "Editar el post", edit_post_path(@post) %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "â† Volver", posts_path %>
  </div>
<% end %>