<div class="posts-wrapper">
  <div class="post">
    <div class="image center-block">
      <%= image_tag @post.squared_img, class:'img-fluid' %>
    </div>
    <div class="post-bottom">
      <div class="description">
        <%= @post.description %>
      </div>
      <div class="comments" id="comments_<%= @post.id %>">
      <% if @post.comments %>
      <%= render @post.comments, post: @post %>
      <% end %>
      </div>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
       <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
       <div class="form-group">
        <%= f.text_field :content, placeholder: "Add a comment...", id: "comment_content_#{@post.id}" %>
       </div>
        <% end %>
        <div class="text-center">
          <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </div>
        <div class="text-center">
          <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
            <% else %>
              <%= button_to 'Like', post_likes_path(@post), method: :post %>
            <% end %>
        </div>
        <div class="container">
        <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @post.user.id == current_user.id %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", posts_path %>
    |
    <%= link_to "Edit post", edit_post_path(@post) %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "â† Back", posts_path %>
  </div>
<% end %>